<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drimtim.dimlights.dimlights">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.drimtim.dimlights.SoundService"
            android:enabled="true" />

        <activity android:name="com.drimtim.dimlights.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.drimtim.dimlights.OptionsActivity"
            android:label="@string/title_activity_options"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.drimtim.dimlights.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="com.drimtim.dimlights.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.drimtim.dimlights.MainActivity" />
        </activity>
    </application>

</manifest>